@use "../../../Assets/scss/mixins";
@use "../../../Assets/scss/vars";

.navbar {
  display: flex;
  justify-content: start;
  margin-top: 10px;

  ul {
    @include mixins.clearList;
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.3rem 1rem;
    border-left: 1px vars.$secondaryColor solid;
    color: vars.$secondaryColor;
    font-size: 1rem;
    transition: color 0.3s ease;
    &:last-child {
      border-right: 1px vars.$secondaryColor solid;
    }
    &:hover {
      color: vars.$primaryColor;
      background-color: vars.$secondaryColor;
    }
  }
  a.active {
    color: vars.$primaryColor;
    background-color: vars.$secondaryColor;
  }
}
